<h1>Flavors</h1>
<p>Find me in app/views/flavors/index.html.erb</p>

<div style='display: flex; gap: 1em; flex-wrap: wrap;'>
  <% @display_names.each do |name| %>
    <div style='border-radius: 23px; border: 1px solid black; padding: 1em;'>
      <span>
        <%= name %>
      </span>
    </div>
  <% end %>
</div>
